body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("assets/battle.png");
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
  width: 60px;
  height:auto;

}
#mew {
  width: 60px;
  height: auto;
}
#voltorb {
  width: 60px;
  height: auto;
  animation: shake 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}
#starmie {
  width: 60px;
  height: auto;
  animation: spin 1s linear infinite;
}
@keyframes shake {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}